<<<<<<< HEAD

=======
>>>>>>> 66fbdf4a8e2a42159e763cf27f49a6a72dd19940
body { height: 100%;
				margin: 40px; <!--40px-->
				padding: 40px;
				background: lightsteelblue;
				text-align: left}
a {
  color: red;
}
